* {
    font-family: 'Montserrat', sans-serif !important;
    color: #ffffff;
}

body {
    background-color: #2e2e2e;
    background-image: repeating-linear-gradient(45deg,
    transparent, transparent 1px,
    rgba(59, 59, 59, 0.5) 1px,
    rgba(100, 100, 100, 0.5) 5px);
}

.page_title {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.container {
    padding: 115px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

.option {
    width: 175px;
    height: 175px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    color: black;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0px 5px 0px #000000, inset 0px 0px 0px 5px #000000;
    transition: 0.2s;
}

.option:hover {
    transform: translateY(2px);
    box-shadow: 0px 3px 0px #000000, inset 0px 0px 0px 5px #000000;
    transition: 0.2s;
}

.option:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px #000000, inset 0px 0px 0px 5px #000000;
    transition: 0.2s;
}

.user {
    background-color: #d60000;
    background-image: repeating-linear-gradient(45deg,
    transparent, transparent 1px,
    rgba(255, 0, 0, 0.5) 1px,
    rgba(139, 0, 0, 0.5) 5px), repeating-linear-gradient(-45deg,
    transparent, transparent 1px,
    rgba(255, 0, 0, 0.5) 1px,
    rgba(139, 0, 0, 0.5) 5px);
}

.state {
    background-color: #12d600;
    background-image: repeating-linear-gradient(45deg,
    transparent, transparent 1px,
    rgba(81, 255, 0, 0.5) 1px,
    rgba(28, 139, 0, 0.5) 5px), repeating-linear-gradient(-45deg,
    transparent, transparent 1px,
    rgba(81, 255, 0, 0.5) 1px,
    rgba(28, 139, 0, 0.5) 5px);
}

.city {
    background-color: #0056d6;
    background-image: repeating-linear-gradient(45deg,
    transparent, transparent 1px,
    rgba(0, 217, 255, 0.5) 1px,
    rgba(0, 107, 139, 0.5) 5px), repeating-linear-gradient(-45deg,
    transparent, transparent 1px,
    rgba(0, 217, 255, 0.5) 1px,
    rgba(0, 107, 139, 0.5) 5px);
}

.category {
    background-color: #d600c4;
    background-image: repeating-linear-gradient(45deg,
    transparent, transparent 1px,
    rgba(255, 0, 191, 0.5) 1px,
    rgba(139, 0, 132, 0.5) 5px), repeating-linear-gradient(-45deg,
    transparent, transparent 1px,
    rgba(255, 0, 191, 0.5) 1px,
    rgba(139, 0, 132, 0.5) 5px);
}

.publisher {
    background-color: #d66700;
    background-image: repeating-linear-gradient(45deg,
    transparent, transparent 1px,
    rgba(255, 81, 0, 0.5) 1px,
    rgba(139, 67, 0, 0.5) 5px), repeating-linear-gradient(-45deg,
    transparent, transparent 1px,
    rgba(255, 81, 0, 0.5) 1px,
    rgba(139, 67, 0, 0.5) 5px);
}

.format {
    background-color: #d6c800;
    background-image: repeating-linear-gradient(45deg,
    transparent, transparent 1px,
    rgba(255, 208, 0, 0.5) 1px,
    rgba(139, 125, 0, 0.5) 5px), repeating-linear-gradient(-45deg,
    transparent, transparent 1px,
    rgba(255, 208, 0, 0.5) 1px,
    rgba(139, 125, 0, 0.5) 5px);
}

.position {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.book {
    width: 175px;
    height: 390px;
    background-color: #808080;
    background-image: repeating-linear-gradient(45deg,
    transparent, transparent 1px,
    rgba(148, 148, 148, 0.5) 1px,
    rgba(116, 116, 116, 0.5) 5px), repeating-linear-gradient(-45deg,
    transparent, transparent 1px,
    rgba(148, 148, 148, 0.5) 1px,
    rgba(116, 116, 116, 0.5) 5px);
}