* {
    font-family: 'Montserrat', sans-serif !important;
    color: #ffffff;
}

body {
    background-color: #333333;
    background-image: repeating-linear-gradient(45deg,
    transparent, transparent 1px,
    rgba(59, 59, 59, 0.5) 1px,
    rgba(100, 100, 100, 0.5) 5px);
}

header {
    background-color: #535353;
}

.form-container {
    margin-top: 52px;
    display: flex;
    width: 100%;
}

.create {
    width: 100%;
    height: fit-content;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-field {
    width: 50%;
    height: fit-content;
    padding: 2%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #12d600;
    background-image: repeating-linear-gradient(45deg,
    transparent, transparent 1px,
    rgba(81, 255, 0, 0.5) 1px,
    rgba(28, 139, 0, 0.5) 5px), repeating-linear-gradient(-45deg,
    transparent, transparent 1px,
    rgba(81, 255, 0, 0.5) 1px,
    rgba(28, 139, 0, 0.5) 5px);
    box-shadow: 0px 5px 0px #000000, inset 0px 0px 0px 5px #000000;
}